* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

a:hover {
  color: #ddd;
  box-shadow: 0 0 50px 0px #ccc;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #000;
  color: #ddd;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
}

header ul,
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

header ul li {
  list-style: none;
  margin: 0 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;

  cursor: pointer;
}

main {
  max-width: 1200px;
  min-height: calc(100vh - 15rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
}

footer p {
  font-size: 1.2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.home img {
  clip-path: circle(50% at 50% 50%);
  max-width: clamp(5rem, 35vw, 25rem);
  height: auto;
  margin: 2rem;
}

section.home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

section.home p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  max-width: 70%;
  text-align: center;
}

section.about p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  max-width: 70%;
  text-align: center;
}

section.home ul,
section.about ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 80%;
  margin-top: 3rem;
}

section.home ul li,
section.about ul li {
  list-style: none;
  font-size: 1.3rem;
  cursor: pointer;
}